<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Ffuenf Replicate Media Storae (FfuenfReplicateMediaStorage)</label>
    <version>1.1.0</version>
    <copyright>(c) by Achim Rosenhagen / ffuenf - Pra &amp; Rosenhagen GbR</copyright>
    <license>proprietary</license>
    <link>https://www.ffuenf.de</link>
    <author>ffuenf</author>
    <compatibility minVersion="5.6.0"/>
    <requiredPlugins>
        <requiredPlugin pluginName="FfuenfCommon" minVersion="1.0.0"/>
    </requiredPlugins>
    <changelog version="1.1.0">
        <changes lang="en">
            fix strategy definition
        </changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">
            initial release
        </changes>
        <changes lang="de">
            Erstveröffentlichung
        </changes>
    </changelog>
</plugin>